:root {
    font-size: 14px;
    font-family: 'Nunito';
  }
  
  body {
    margin: 0;
    padding: 0 6rem;
    font-family: 'Nunito';
  }
  
  *,
  *::before,
  *::after {
    box-sizing: content-box;
  }
  
  header {
    height: 15vh;
    padding-top: 20px;
  }
  
  @media (min-width: 768px) {
    .navbar-brand.abs {
      position: absolute;
      width: auto;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
    }
  }
  
  .brand-text{
    color: #ffffff;
  }
  
  .brand-text:hover{
    color: #ffffff;
  }
  
  .navbar-collapse{
    background-color: #ffffff;
    border-radius: 10px;
  }
  
  .nav-link{
    color: #234CAD;
    font-family: 'Nunito';
    font-size: 15px;
    margin-left: 10px;
    font-weight: bold;
  }
  
  .btn-s1{
    padding: 7px 25px;
    color: #234CAD;
    font-weight: bolder;
    font-size: 22px;
    border: 2px solid #234CAD;
    background-color: #F2F6FF;
  }
  
  .btn{
    margin-left: 20px;
    padding: 5px 35px;
    color: #234CAD;
    font-weight: bolder;
  }
  
  .btn-outline-login{
    border: 2px solid #234CAD;
  }
  
  .btn-outline-login:hover{
    background-color: #234CAD;
    color: #F2F6FF;
  }
  
  .btn-outline-signup{
    border: 2px solid #ffffff;
    background-color: #F2F6FF;
    color: #234CAD;
  }
  
  .btn-outline-signup:hover{
    background-color: #234CAD;
    color: #F2F6FF;
  }
  
  section {
    width: 100%;
    /* height: 75vh; */
    background-color: #F2F6FF;
    border-radius: 80px;
    display: flex;
    color: #234CAD;
  }
  
  .w-100 {
    width: 100%;
  }
  
  .fs-08 {
    font-size: .8rem;
  }
  
  .mss-1 {
    margin-left: 1rem;
  }
  
  .font-bold {
    font-weight: 600;
  }
  
  .flexx {
    display: flex;
  }
  
  .flexx-column {
    flex-direction: column;
  }
  
  .align-items-center {
    align-items: center;
  }
  
  .justify-content-between {
    justify-content: space-between;
  }
  
  #section-item1 {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 5rem;
  }
  
  #section-item1 #title {
    font-size: 48px;
    font-weight: 600;
  }
  
  .text{
    font-size: 16px;
    font-weight: lighter;
  }
  
  #section-item2 {
    padding: 1rem 0;
    width: 70%;
    position: relative;
  }
  
  .cardd-wrap {
    position: absolute;
  }
  
  .cardd {
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 1.5rem;
    margin: 1.5rem;
    width: fit-content;
    /* box-shadow: 0 .05rem .1rem rgba(35, 76, 173, .5) !important; */
  }
  
  .icon-wrap {
    border-radius: 50%;
    background-color: #F2F6FF;
    padding: 1rem;
    position: relative;
  }
  
  .icon-wrap.chat {
    padding: 1.5rem;
  }
  
  .icon-wrap.chat span::after {
    content: '2';
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 3%;
    left: 78%;
    width: 13px;
    height: 13px;
    font-size: .5rem;
    border-radius: 50%;
    background-color: #234CAD;
    color: #fff;
  }
  
  .title-cardd {
    margin-bottom: .5rem;
  }
  
  .icon-border-1-4 {
    border: 3px solid #fff;
    border-top: 3px solid #234CAD;
    border-radius: 50%;
    padding: .4rem;
    transform: rotate(45deg);
  }
  
  .icon-border-1-4 img {
    transform: rotate(-45deg);
  }
  
  .icon-border-3-4 {
    border: 3px solid #234CAD;
    border-top: 3px solid #fff;
    border-radius: 50%;
    padding: .6rem;
    transform: rotate(-45deg);
  }
  
  .icon-border-3-4 img {
    transform: rotate(45deg);
  }
  
  .icon-border-full {
    border: 3px solid #234CAD;
    border-radius: 50%;
    padding: 1.2rem;
  }
  
  .circle-member {
    padding: .8rem;
    background-color: #F2F6FF;
    border-radius: 50%;
    border: 2px solid #fff;
    position: relative;
  }
  
  .circle-member:nth-child(2) {
    left: calc(-9px * 1);
  }
  
  .circle-member:nth-child(3) {
    left: calc(-9px * 2);
  }
  
  .circle-member:nth-child(4) {
    left: calc(-9px * 3);
  }
  
  .item-upload-document,
  .item-text-chat {
    width: 45%;
  }
  
  .item-team-meeting {
    width: 35%;
  }
  
  .item-absolute1 {
    position: absolute;
    left: 57%;
    top: 69px;
  }
  
  .item-absolute2 {
    width: 43%;
    position: absolute;
    left: 45%;
    top: 238px;
  }
  
  .item-absolute3 {
    width: 50%;
    position: absolute;
    left: 57%;
    top: 360px;
  }
  
  .item-absolute4 {
    position: absolute;
    left: 57%;
    top: 510px;
  }
  
  @media only screen and (max-width: 1140px) {
    section {
      flex-direction: column;
      justify-content: center;
      height: max-content;
    }
  
    #section-item1 {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 5rem;
      padding-bottom: 1rem;
    }
  
    #section-item2 {
      width: 100%;
      padding: 1.5rem;
    }
  }
  
  @media only screen and (max-width: 576px) {
    body {
      padding: 0 1rem;
    }
  
    section {
      margin: 0;
      width: 100%;
      border-radius: 50px;
      display: flex;
      flex-direction: column;
    }
  
    #section-item1 #title {
      font-size: 2rem;
      font-weight: 600;
    }
  
    .text{
      font-size: 12px;
      font-weight: lighter;
    }
   
    #section-item2 {
      width: fit-content;
      padding: 1.5rem .8rem;
    }
  
    .cardd {
      margin: 1rem 0;
    }
  
    .item-upload-document {
      width: 50%;
    }
  
    .item-team-meeting {
      width: 100%;
    }
  
    .item-absolute1 {
      position: absolute;
      left: 70%;
      top: 70px;
    }
  
    .item-absolute2,
    .item-absolute3,
    .item-text-chat {
      width: 100%;
    }
  
    .item-absolute2,
    .item-absolute3,
    .item-absolute4 {
      position: relative;
      left: 0;
      top: 0;
    }
  }
  
  #section-icon{
    margin-top: 90px;
  }
  
  .s-icon3{
    font-size: 20px;
    color: #234CAD;
  }
  
  .stext-icon3{
    font-size: 15px;
    color: #234CAD;
  }